<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <!-- <a
        href="https://manuelernestog.github.io/support-my-work/"
        target="_blank"
        class="mx-3"
        aria-label="Support my work"
        title="Support my work"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5 2h2v3H5zm4 0h2v3H9zm4 0h2v3h-2zm6 7h-2V7H3v11c0 1.654 1.346 3 3 3h8c1.654 0 3-1.346 3-3h2c1.103 0 2-.897 2-2v-5c0-1.103-.897-2-2-2zm-4 9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9h10v9zm2-2v-5h2l.002 5H17z"
            ></path></svg
        >
    </a> -->
    <a href="https://scholar.google.com/citations?user=RMF97_IAAAAJ&hl=en" target="_blank" class="mx-3" aria-label="GoogleScholar" title="Google Scholar">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M 16.113281 5 L 16.113281 3.722656 L 17.039062 3 L 7.015625 3 L 0.960938 8.261719 L 4.976562 8.261719 C 4.96875 8.363281 4.964844 8.453125 4.964844 8.554688 C 4.964844 9.53125 5.304688 10.339844 5.980469 10.984375 C 6.65625 11.632812 7.492188 11.953125 8.480469 11.953125 C 8.710938 11.953125 8.9375 11.9375 9.15625 11.90625 C 9.019531 12.210938 8.953125 12.492188 8.953125 12.757812 C 8.953125 13.21875 9.164062 13.714844 9.582031 14.238281 C 7.746094 14.363281 6.394531 14.695312 5.53125 15.230469 C 5.039062 15.535156 4.640625 15.921875 4.339844 16.382812 C 4.042969 16.84375 3.890625 17.34375 3.890625 17.878906 C 3.890625 18.332031 3.988281 18.738281 4.183594 19.101562 C 4.378906 19.464844 4.632812 19.761719 4.949219 19.992188 C 5.261719 20.222656 5.625 20.417969 6.035156 20.574219 C 6.445312 20.730469 6.851562 20.84375 7.257812 20.90625 C 7.664062 20.96875 8.066406 21 8.464844 21 C 9.09375 21 9.726562 20.917969 10.363281 20.757812 C 11 20.59375 11.597656 20.351562 12.152344 20.03125 C 12.710938 19.710938 13.160156 19.277344 13.507812 18.730469 C 13.855469 18.183594 14.027344 17.570312 14.027344 16.886719 C 14.027344 16.371094 13.921875 15.902344 13.710938 15.476562 C 13.503906 15.050781 13.246094 14.699219 12.941406 14.425781 C 12.636719 14.15625 12.332031 13.90625 12.027344 13.679688 C 11.722656 13.453125 11.464844 13.222656 11.253906 12.984375 C 11.042969 12.746094 10.9375 12.511719 10.9375 12.28125 C 10.9375 12.050781 11.019531 11.828125 11.183594 11.613281 C 11.34375 11.398438 11.542969 11.1875 11.773438 10.988281 C 12.007812 10.789062 12.238281 10.570312 12.46875 10.328125 C 12.699219 10.085938 12.898438 9.773438 13.058594 9.390625 C 13.222656 9.003906 13.304688 8.570312 13.304688 8.089844 C 13.304688 7.457031 13.183594 6.941406 12.949219 6.527344 C 12.921875 6.480469 12.890625 6.441406 12.863281 6.386719 L 15.527344 4.195312 L 15.527344 5 C 15.183594 5.042969 15.21875 5.25 15.21875 5.5 L 15.21875 11.53125 C 15.21875 11.808594 15.445312 12.039062 15.726562 12.039062 L 15.914062 12.039062 C 16.191406 12.039062 16.421875 11.808594 16.421875 11.53125 L 16.421875 5.5 C 16.421875 5.25 16.457031 5.042969 16.113281 5 Z M 11.082031 15.429688 C 11.132812 15.464844 11.253906 15.558594 11.441406 15.710938 C 11.632812 15.863281 11.761719 15.980469 11.832031 16.058594 C 11.898438 16.136719 12 16.253906 12.128906 16.414062 C 12.261719 16.570312 12.351562 16.707031 12.398438 16.824219 C 12.445312 16.9375 12.492188 17.078125 12.539062 17.242188 C 12.585938 17.402344 12.609375 17.570312 12.609375 17.738281 C 12.609375 18.535156 12.300781 19.128906 11.6875 19.511719 C 11.074219 19.894531 10.339844 20.085938 9.488281 20.085938 C 9.058594 20.085938 8.636719 20.035156 8.21875 19.9375 C 7.804688 19.835938 7.40625 19.6875 7.03125 19.488281 C 6.652344 19.289062 6.347656 19.007812 6.117188 18.652344 C 5.882812 18.292969 5.769531 17.882812 5.769531 17.421875 C 5.769531 16.9375 5.898438 16.519531 6.164062 16.160156 C 6.425781 15.804688 6.769531 15.53125 7.195312 15.347656 C 7.621094 15.164062 8.050781 15.035156 8.488281 14.957031 C 8.925781 14.875 9.367188 14.835938 9.820312 14.835938 C 10.03125 14.835938 10.191406 14.847656 10.308594 14.867188 C 10.328125 14.878906 10.449219 14.964844 10.671875 15.128906 C 10.890625 15.292969 11.027344 15.390625 11.082031 15.429688 Z M 10.921875 10.714844 C 10.578125 11.128906 10.09375 11.335938 9.472656 11.335938 C 8.917969 11.335938 8.425781 11.113281 8.007812 10.664062 C 7.585938 10.21875 7.285156 9.714844 7.101562 9.144531 C 6.914062 8.578125 6.824219 8.019531 6.824219 7.476562 C 6.824219 6.832031 6.992188 6.285156 7.328125 5.835938 C 7.664062 5.382812 8.148438 5.15625 8.777344 5.15625 C 9.335938 5.15625 9.828125 5.390625 10.253906 5.867188 C 10.679688 6.339844 10.984375 6.871094 11.167969 7.457031 C 11.351562 8.046875 11.441406 8.609375 11.441406 9.144531 C 11.441406 9.777344 11.269531 10.300781 10.921875 10.714844 Z M 10.921875 10.714844 "
            ></path>
        </svg>

        
    </a>
    <a href="https://github.com/lennemo09" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a>
    <a href="https://twitter.com/len_luong09" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
            ></path>
        </svg>
    </a>
    <a
        href="https://www.linkedin.com/in/len-luong/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
            ></path>
        </svg>
    </a>

    <!-- <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a> -->
</div>
